<div class="table-fixed-header table-responsive h-80 p-0">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Lugar</th>
        <th>Hora</th>
        <th *ngIf="!alcoholTab">Duracion</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

      <tr *ngFor="let item of lavado" >
        <td>
          {{getName(item.idUsuario)}}
        </td>
        <td>{{item.lugarLavado}}</td>
        <td>{{item.dates.h}}</td>
        <td  *ngIf="!alcoholTab">{{item.duracion}}</td>
      </tr>
    </tbody>
  </table>
</div>
