
<script
  src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
  src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav
  class="navbar nav-tabs pb-0 align-items-end header bg-info-subtle navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid h-100 ">
    <h1 class="navbar-brand" href="/dashboard">HANDICAP</h1>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 h-100 ">
      <li class="nav-item h-100 align-items-end">

        <a class="nav-link active fs-4 " href="/higiene/0/1">Lavado de Manos</a>

      </li>
      <li class="nav-item h-100 align-items-end">
        <a class="nav-link  fs-4 " href="/higiene/1/1">Uso de Alcohol</a>
      </li>
      <li class="nav-item h-100 align-items-end">
        <a class="nav-link  fs-4 " href="/rank">Ranking</a>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>

    </form>

    <a href="login" class=" btn px-1 pt-0 align-items-center d-flex ">
      <i class="bi bi-person-circle fs-1 "></i>
      <span class="pt-1 ms-1">&#9660;</span>

    </a>
  </div>
</nav>
<main>
  <router-outlet />
</main>
