<div class="container pt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">Lavado de manos</h2>
    </div>
    <div class="card-body h-80 d-flex p-0">
      <div class="col-3 bg-secondary-subtle">
        <div class="list-group rounded-top-0">
          <a href="#" class="list-group-item fs-4 list-group-item-action text-light active">
            Historial del dia
          </a>
          <a href="#" class="list-group-item fs-4 list-group-item-action">A
            second link item</a>
          <a href="#" class="list-group-item fs-4 list-group-item-action">A
            third link item</a>
          <a href="#" class="list-group-item fs-4 list-group-item-action">A
            fourth link item</a>
        </div>
      </div>
      <div class="col-9 px-0 table-fixed-header table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Lugar</th>
              <th>Hora</th>
              <th *ngIf="!alcoholTab">Duracion</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">

            <tr *ngFor="let item of lavado" >
              <td>
                {{getName(item.idUsuario)}}
              </td>
              <td>{{item.lugarLavado}}</td>
              <td>{{item.dates.h}}</td>
              <td  *ngIf="!alcoholTab">{{item.duracion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
