<div class="container pt-2">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">Lavado de manos</h2>
    </div>
    <div class="card-body d-flex p-0">
      <div class="col-3 bg-secondary-subtle">
        <div class="list-group rounded-top-0">
          <a href="/higiene/{{alcoholValue}}/1"
             class="list-group-item fs-4 list-group-item-action "
             [ngClass]="{ 'active': tab === '1' }">
            Historial del día
          </a>
          <a href="/higiene/{{alcoholValue}}/2"
             class="list-group-item fs-4 list-group-item-action"
             [ngClass]="{ 'active': tab === '2' }">
            Gráfica Mensual
          </a>
          <a href="/higiene/{{alcoholValue}}/3"
             class="list-group-item fs-4 list-group-item-action"
             [ngClass]="{ 'active': tab === '3' }">
            Gráfica por Área
          </a>
        </div>
      </div>
      <div class="col-9 px-0">
        <app-historial [alcoholTab]="alcoholTab" [lavado]="lavado" [doctores]="doctores" class="px-0" *ngIf="tab=='1'"></app-historial>
        <app-areas [alcoholTab]="alcoholTab" [lavado]="lavado" [doctores]="doctores" class="px-0" *ngIf="tab=='1'"></app-areas>
      </div>
    </div>
  </div>
</div>
