<div class="ranking-container  pt-2">
  <h2>Ranking de los mejores Participantes</h2>
  <div class="table-fixed-header table-responsive h-80">
    <table class="table">
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Area</th>
          <th>Puntuación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of scores; let i=index">

          <td>{{i+1}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.area}}</td>
          <td>{{item.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="winner" class="winner-announcement">
    <h3>¡Ganador del Ranking!</h3>
    <!-- <p>{{ winner.name }} con una puntuación de {{ winner.score }}</p> -->
  </div>
</div>
