.ranking-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
  margin: 2rem auto;
  background: linear-gradient(145deg, #f3f4f6, #ffffff);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

h2 {
  text-align: center;
  color: #2c3e50;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* border-radius: 16px 16px 16px 16px; */
}

td {
  background-color: #ecf0f1;
  transition: all 0.3s ease;
}

tr:nth-child(even) td {
  background-color: #e0e6e8;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

tr:last-child td:last-child {
  border-radius: 0 0 8px 0;
}

tr:hover  {
  background-color: #d5dbdb;
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Add some flair to the first column (assuming it's the rank) */
td:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Style for the second column (assuming it's the name) */
td:nth-child(2) {
  font-weight: 600;
  color: #2980b9;
}

/* Responsive design */
@media (max-width: 600px) {
  .ranking-container {
    padding: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  th, td {
    padding: 10px;
  }
}
.h-80{
  height: 70vh;
}


.table-responsive {
  padding: 0;
  padding-inline: 0.5rem;
  padding-bottom: 0rem;
  position: relative;
  /* Ajusta según sea necesario */
  overflow: auto;
}



.table-fixed-header thead th,
.table-fixed-header tfoot td {
  position: sticky;
  top: 0;
  z-index: 1;
  /* Para asegurarse de que el encabezado se superponga */
}


.table-fixed-header tfoot th {
  position: sticky;
  bottom: 0;
  z-index: 1;
  /* Asegúrate de que el pie se superponga */
}

.table-fixed-header tbody td {

  top: 4rem;
}
